@import "bootstrap-sprockets";
@import "bootstrap";

.main {
	width: 100%;
	background-color: #EDE9E5;
	text-align:center;

	h1 {
		font-weight: bold;
		color: #59758A;
	}

	.welcome {
		margin: 0 auto;
	}

	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		color: #3A87AD;
	}
}

.alert-danger {
	display: none;	
}

.content-wrapper {
	width:400px;
	margin: 0 auto;
}

body {
	background-color: #F5F5F5;
}

.logo {
	margin-left: 107px;
	float:left;
}

.navbar-nav li a{
	color: #919191
}

.navbar-nav li a:hover{
	color: #3A87AD
}

.navbar-nav li a:hover{
	color: #3A87AD
}

.dropdown-menu > li > a{
	padding: 10px 20px !important;

}
#header, #footer {
	width:100%;
	height: 130px;
	background-color:#846D50;
	color: #DAD3CB;
	font-size:14px;
	
}

#header {
	
	.title {
		font-size: 16px;
		color:#59758A;
	}

	img {
		margin-top:25px;
		margin-left:73px;
	}

	.col-md-2, .col-md-1 {
		text-align:center;
		margin-top: 50px;
		width: 140px;
	}

	.header-links {
		float:right;
		margin-top: 40px;
		margin-right: 60px;
	}

	.nav-pills li a {
		color: #FFF;
		opacity: 0.9;
		font-size: 16px !important;
	}

	.nav-pills li a:hover {
		background-color:#846D50;
		color: #FFF;
		opacity: 1;	
	}

}

#footer {
	
	height: auto;
	font-size: 16px;
	img {
		margin-top:25px;
		margin-left: -25px;
	}

	a {
		color:#FFF;
	}

	a:hover {
		text-decoration: underline;
	}

	.footer-wrapper {
		margin-left:90px;

		ul {
			margin-left: -20px;
		}

		li {
			list-style: none;
			font-size:16px;
		}
	}

	.footer-description {
		font-size: 16px;
	}

	.company-description {
		font-size: 22px;
		line-height: 12px;
		margin-top: 10px;
	}

	.copyright {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}