<!DOCTYPE html>
<html>
<head>
  <title>IntegrationSalesforce</title>
<body>

Name <input type="text" class="input" id="name"/>
Last Name <input type="text" class="input" id="lastname"/> 

</body>
</html>
