
<div id="footer" class="container">
	<div class="footer-wrapper">	

		<div class="footer-description">
			<%= image_tag("rdfooter.png") %> 
			<p class="company-description">A Resultados Digitais é uma empresa especializada em Marketing Digital de resultados.</p>

			<p>Por meio do software RD Station, de uma metodologia própria e serviços de consultoria complementares, ajudamos nossos clientes a gerar mais resultados em tráfego, geração de Leads e vendas para seus negócios, além de construir um sólido ativo de Marketing Digital.</p>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-3">
				<h3> Conteúdo </h3>
				<ul>	
					<li> <a href="#"> Blog </a></li>
					<li> <a href="#"> Materiais Educativos </a></li>
					<li><a href="#"> Cursos Online </a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-3">
				<h3> Software </h3>
				<ul>	
					<li> <a href="#"> Home </a></li>
					<li> <a href="#"> Consultoria </a></li>
					<li><a href="#"> Funcionalidades </a></li>
					<li><a href="#"> Planos e Preços </a></li>	
					<li><a href="#"> Estudo de caso </a></li>
					<li><a href="#"> Blog </a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-3">
				<h3> Parceria </h3>
				<ul>	
					<li> <a href="#"> Programa </a></li>
					<li> <a href="#"> Níveis de Parceria </a></li>
					<li><a href="#"> Consultoria Engage </a></li>
					<li><a href="#"> Blog </a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-3">
				<h3> Sobre </h3>
				<ul>	
					<li> <a href="#"> A empresa </a></li>
					<li> <a href="#"> Trabalhe Conosco </a></li>
					<li><a href="#"> Contato </a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			Copyright © 2015 Resultados Digitais. <a href="#"> Política de Privacidade </a>
		</div>
	</div>
</div>