<div class="logo"><%= image_tag("rd.png") %></div>
<div id="header" class="container">
	
	<div class="row">
		<div class="col-md-3"><%= image_tag("rdstation.png") %></div>
		<div class="header-links">
			<div class="col-md-2">Funcionalidades</div>
		    <div class="col-md-2">Planos e Preços</div>
		    <div class="col-md-2">Teste Grátis</div>
		    <div class="col-md-2">Estudos de caso</div>
		    <div class="col-md-1">Blog</div>
	    </div>
	</div>
</div>